.card-details {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.card-details img {
  width: 170px;
  height: 170px;
  display: flex;
  margin: 0 auto;
}
