.active-link {
  text-decoration: none;
  /* border-bottom: 3px solid #1e90c2; */
  margin-left: 15px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
  color: #00112d;
}
.link {
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
  color: #1e90c2;
}
.link-left {
  text-decoration: none;
  margin-left: 15px;
  font-size: 25px;
  transition: color ease-in-out 300ms;
  color: #000000;
}
.link:hover {
  color: #1b4388;
}
